/*
    ===============
    COLOR VARIABLES
    ===============
*/
$green              : #14DF7D;
$lightgreen         : #43AE76;
$black              : #607D8B;
$grey               : #6C6C6C;
$blue               : #004E88;
$lightblue          : #115687;
$lightblue-one      : #E3ECF3;
$orange             : #ff5800;
$light-grey         : #FAFAFA;
$light-grey-one     : #F9F9F9;
$white              : #ffffff;
$body-textcolor     : #414446;
$red                : #F44336;


/*
    ==================
    FONTS - Montserrat
    ==================
*/
$montserrat             : 'Montserrat', sans-serif;
$montserrat-light       : 300;
$montserrat-semi-bold   : 600;
$montserrat-bold        : 700;


/*
    ================
    DEVICE VARIABLES
    ================
*/
$mobile-xs      : 480px;
$mobile-sm      : 560px;
$mobile-lg      : 640px;
$tablet         : 768px;
$tablet-lg      : 1024px;
$desktop-sm     : 1280px;
$desktop-md     : 1360px;
$desktop-lg     : 1600px;
